*
	box-sizing: border-box
html, body 
	margin: 0
	height: 100%
	font-family: Geometria-Medium
	color: #ffffff
@font-face
	font-family: Geometria-ExtraBold
	src: url(fonts/Geometria-ExtraBold.ttf)
@font-face
	font-family: Geometria-Medium
	src: url(fonts/Geometria-Medium.ttf)
@font-face
	font-family: Gilroy-light
	src: url(fonts/Gilroylight.ttf)

a 
	text-decoration: none
.pointer
	cursor: pointer
.btn
	border-radius: 5px
	border: none
	background: transparent
	color: #ffffff
	padding: 10px 20px
	cursor: pointer
	outline: none
.btn-close
	cursor: pointer
	display: flex
	justify-content: flex-end
.btn:hover
	transition: .6s
	background: #454972
.btn-send
	background: #2C3452
	min-width: 200px
	min-height: 40px
.active 
	background: #2C3452

.btn-menu-urgent
	padding: 10px 20px
	background: linear-gradient(270deg, #6082D7, #E73453)
.btn-menu-urgent-active
	background: #894672
.btn-help-now
	background: rgba(0,0,0,.2)
	box-shadow: 0px 0px 15px 10px #9d5e9a

.bg
	display: flex
	flex-direction: column
	min-height: 100%
	background: linear-gradient(-39deg, #4792E1, #4174B3, #363B5D)
.bg-urgent
	display: flex
	flex-direction: column
	min-height: 100%
	background: linear-gradient(47deg, #E53656, #6082D8)
.content__wrap
	flex: 1 0 auto
	margin: 0 30px
.container
	// width: 1440px
	margin: 0 auto

.text
	position: absolute
	z-index: 1
	/* header*/
.header
	position: relative
	display: flex
	flex-wrap: wrap
	margin: 22px 0 0 0
	align-items: center
	justify-content: space-between
	width: 100%
	z-index: 3
	&__lang
		display: flex
		color: #c5d5e6
		font-family: "Geometria-Medium"
		font-size: 14px
		font-weight: 400
		.lang-non-active
			opacity: .5
		.lang-active
			opacity: 1
		&__item+&__item
			padding-left: 11px
	&__menu
		ul
			padding: 0
		ul, .btn-menu
			margin: 0
			display: flex
			justify-content: space-around
			align-items: center
			list-style: none
			color: #c5d5e6
			font-family: "Geometria-Medium"
			font-size: 14px
			font-weight: 400
			a 
				text-decoration: none
			li+li 
				margin-left: 30px
	&__search
		display: flex
		justify-content: center
		
		margin-left: 200px
		padding: 10px
		border-radius: 50%
		#search-img
			cursor: pointer
			width: 22px
	&__search:hover
		transition: .5s
		background: #454972

	&__autorize
		cursor: pointer
		opacity: 0.5
		color: #c5d5e6
		font-family: "Geometria-Medium"
		font-size: 14px
		font-weight: 400
		padding-right: 50px
	/* /header*/
	/* search-bar*/

.search-descr
	padding-left: 30px
	opacity: .5
	color: #2e3f69
	font-family: "Geometria-Medium"
	font-size: 18px
	font-weight: 400
.search-bar
	display: none
	position: absolute
	width: calc(100% - 60px)
	top: 7px
	display: none
	align-items: center
	background: rgba(197,213,230,0.5)
	border-radius: 10px
	padding: 5px 10px
	backdrop-filter: blur(10px)
	z-index: 3
	animation: fadeEffect .4s
	input 
		width: 100%
		height: 100%
		outline: none
		background: transparent
		border: none
		color: #ffffff
		font-family: "Geometria-Medium"
		font-size: 40px
		font-weight: 400
		text-align: center
		padding-left: 10px
	.close-search-wrap
		display: flex
		justify-content: center
		align-items: center
		width: 63px
		height: 63px
.search-popup
	display: none
	position: absolute
	width: calc(100% - 60px)
	background: rgba(197,213,230,0.5)
	backdrop-filter: blur(10px)
	border-radius: 10px
	top: 95px
	z-index: 4
	animation: fadeEffect .4s
	flex-direction: column
	.search-item
		display: flex
		flex-direction: row
		padding-left: 50px
		padding-bottom: 75px
		.search-title
			color: #ffffff
			font-family: "Geometria-Medium"
			font-size: 24px
			font-weight: 400
			padding-top: 48px
			min-width: 10%
		
		.search-col
			padding-top: 20px
			padding-left: 100px
			.search-subtitle
				color: #ffffff
				font-family: "Geometria-Medium"
				font-size: 18px
				font-weight: 400
				padding-bottom: 14px
			.search-article
				font-family: "Gilroy-Light"
				color: #ffffff
				font-size: 14px
				font-weight: 400
				padding-bottom: 9px
				max-width: 300px
	/* /search-bar */
	// autorize-popup
.autorize-popup-wrapper
	position: absolute
	display: none
	align-items: center
	justify-content: center
	margin: auto
	top: 0
	bottom: 0
	left: 0
	right: 0
	animation: animatetop .5s
	z-index: 5
	.autorize-popup
		width: 375px
		min-height: 300px
		background: rgba(197,213,230,0.5)
		backdrop-filter: blur(20px)
		border-radius: 15px
		.close-autorize
			display: flex
			justify-content: flex-end
			cursor: pointer
		.login
			display: flex
			flex-direction: column
			align-items: center
			.btn-login
				background: linear-gradient(47deg, #E53656, #6082D8)
				box-shadow: 0px 0px 15px 5px rgba(229,54,86,0.4)
				border: none
				padding: 13px 105px
				border-radius: 10px
				margin-top: 15px
				color: #ffffff
				font-family: "Geometria-Medium"
				font-size: 18px

			input
				margin: 10px 40px
				height: 40px
				outline-color: rgba(54, 59, 93, 0.3)
				outline-width: 3px
				background: #F3F7FA
				font-size: 20px
				padding: 0 10px
				color: #363b5d
				opacity: .5
		.create-account
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			margin: 20px 0
			&__question
				color: #c5d5e6
				font-size: 14px
			&__link
				display: flex
				justify-content: center
				align-items: center
				cursor: pointer
				width: 70%
				background: #C5D5E6
				height: 45px
				border-radius: 10px
				margin: 10px 0
			&__link:hover
				cursor: pointer
				transition: .6s
				background: #454972				
				box-shadow: 0px 0px 15px 5px #08255c83
// create acount popup
.create-acc-popup-wrapper
	position: absolute
	display: none
	align-items: center
	justify-content: center
	margin: auto
	top: 0
	bottom: 0
	left: 0
	right: 0
	animation: animatetop .5s
	z-index: 5
	.create-acc-popup
		width: 375px
		min-height: 300px
		background: rgba(197,213,230,0.5)
		backdrop-filter: blur(20px)
		border-radius: 15px
		.close-create-acc
			display: flex
			justify-content: flex-end
			cursor: pointer
		.create-acc
			display: flex
			flex-direction: column
			align-items: center
			.btn-create-acc
				background: linear-gradient(47deg, #E53656, #6082D8)
				box-shadow: 0px 0px 15px 5px rgba(229,54,86,0.4)
				border: none
				padding: 13px 57px
				border-radius: 10px
				margin-top: 15px
				color: #ffffff
				font-family: "Geometria-Medium"
				font-size: 18px
			input
				margin: 10px 40px
				height: 40px
				outline-color: rgba(54, 59, 93, 0.3)
				outline-width: 3px
				background: #F3F7FA
				font-size: 20px
				padding: 0 10px
				color: #363b5d
				opacity: .5
		.to-login
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			margin: 20px 0
			&__question
				color: #c5d5e6
				font-size: 14px
			&__link
				display: flex
				justify-content: center
				align-items: center
				cursor: pointer
				width: 70%
				background: #C5D5E6
				height: 45px
				border-radius: 10px
				margin: 10px 0
			&__link:hover
				cursor: pointer
				transition: .6s
				background: #454972				
				box-shadow: 0px 0px 15px 5px #08255c83
// /create acount popup	
.arrow-right
	padding-left: 25px
	cursor: pointer
.content
	position: relative
	z-index: 3
	flex-direction: column
	margin: 126px 0 0 100px
	&__title
		display: flex
		flex-wrap: wrap
		margin-bottom: 50px
		align-items: center
		&__text 
			padding-right: 47px
			color: #ffffff
			font-size: 64px
			font-weight: 400
		&__link
			color: #C5D5E6
	&__to-help
		font-family: "Gilroy-Light"
		font-size: 18px
		font-weight: 400
		line-height: 24px
		&__text
			max-width: 456px
			padding-bottom: 29px
		&__links
			display: flex
			flex-wrap: wrap
			align-items: center
			padding-bottom: 79px
			color: #C5D5E6
	&__to-help__line
		width: 50px
		height: 2px
		background: #ffffff
		margin-bottom: 15px
	&__to-help-how
		display: flex
		padding-right: 40px
		font-family: "Geometria-Medium"
		color: #c5d5e6
.how-you-can-help
	margin: 0
.bg-blur
	display: none
	align-items: center
	position: absolute
	top: 0
	z-index: 99
	width: 100%
	height: 100%
	background: rgba(197,213,230,0.5)
	backdrop-filter: blur(10px)
	animation: fadeEffect .5s
.close-help
	display: flex
	justify-content: flex-end
	z-index: 4
.types-help
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: center
	z-index: 4
	width: calc(100% - 60px)
	border-radius: 15px
	backdrop-filter: blur(10px)
	background: #ffffff
	box-shadow: 3px 4px 10px rgba(0,0,0,0.2)
	padding: 50px 123px 109px 123px
	margin: 0 30px
	&__title
		padding-bottom: 35px
		color: #363b5d
		font-family: "Geometria-Medium"
		font-size: 64px
		font-weight: 400
	&__content
		width: 100%
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&__item-wrap
		display: flex
		flex-wrap: wrap
		flex-direction: column
		max-width: 20%
		height: 100%
	&__item
		display: flex
		align-items: center
		height: 100%		
		&-text
			color: #515572
			font-family: "Gilroy-Light"
			font-size: 12px
			font-weight: 400
			line-height: 16px
			width: 246px
			padding-left: 100px
		&__title
			color: #363b5d
			font-family: "Geometria-Medium"
			font-size: 18px
			font-weight: 400
			padding-left: 20px
.img-box
	display: flex
	align-items: center
	justify-content: center
	min-width: 80px
	min-height: 80px
	max-width: 80px
	max-height: 80px
	border-radius: 15px
	border: solid #c5d5e6
// help right now		
.bg-blur-help-now
	display: none
	// display: flex
	flex-direction: column
	padding: 0 50px
	position: absolute
	top: 0
	z-index: 99
	width: 100%
	height: 100%
	background: rgba(197,213,230,0.5)
	backdrop-filter: blur(10px)
	animation: fadeEffect .5s
	.btn-close
		margin-top: 30px
.help-now
	background: #ffffff
	border-radius: 15px
	padding: 28px 0 74px 0
	margin-bottom: 51px
	box-shadow: 3px 4px 10px rgba(0,0,0,0.2)
	&__form
		display: flex
		text-align: center
		flex-direction: column
	&__title
		color: #363b5d
		font-family: "Geometria-medium"
		font-size: 64px
		font-weight: 400
		margin-bottom: 1px
	.help-tab
		margin-bottom: 50px
		.tab-btn
			border: none
			outline: none
			color: #363b5d
			font-family: "Geometria-Medium"
			font-size: 14px
			font-weight: 400
			background: #ffffff
			padding: 10px 20px
			border: 2px solid #363b5d
		.tab-btn:hover
			background: #363b5d
			opacity: .8
			color: #ffffff
		.tab-left
			border-radius: 5px 0 0 5px
		.tab-right
			border-radius: 0 5px 5px 0
		.tab-active
			color: #ffffff
			background: #363b5d
	.person-form-wrapper
		display: flex
		justify-content: space-around
		color: #939aa3
		font-family: "Geometria-Medium"
		font-size: 14px
		font-weight: 400
		margin-bottom: 37px
		flex-wrap: wrap
		.person-form
			display: flex
			flex-direction: column
.col
	display: flex
	flex-direction: column
.row
	display: flex
	flex-direction: row
	justify-content: space-around
	margin-bottom: 33px
.full
	width: 420px
	height: 40px
	margin-bottom: 33px
.half
	width: 200px
	height: 40px
.m-r20
	margin-right: 20px
input
	border-radius: 5px
	border: none
	outline-color: rgba(54, 59, 93, .3)
	outline-width: 3px
	background: #F3F7FA
	font-size: 20px
	padding: 0 10px
	color: #363b5d
.plus-logo
	position: absolute
	margin-left: 20px
	margin-top: 14px
	color: #4a90e2
	opacity: .6
	font-family: "Geometria-Medium"
	font-size: 14px
	font-weight: 400
// /person-form-wrapper
// company-form-wrapper
.company-form-wrapper
	display: none
	justify-content: space-around
	color: #939aa3
	font-family: "Geometria-Medium"
	font-size: 14px
	font-weight: 400
	margin-bottom: 37px
	flex-wrap: wrap
	.company-form
		display: flex
		flex-direction: column
// /company-form-wrapper
// call-to-action

.call-to-action
	color: black
	.cta__title
		color: #363b5d
		font-family: "Geometria-medium"
		font-size: 64px
		font-weight: 400
		text-align: center
	.cta__subtitle
		color: #363b5d
		font-family: "Gilroy-Light"
		font-size: 18px
		font-weight: 400
		text-align: center
	.cta__types-help
		display: flex
		align-items: center
		flex-wrap: wrap
		margin: 36px auto 24px auto
		justify-content: space-between
		max-width: 1140px

		.cta-item-wrapper
			display: flex
			align-items: center
			max-width: 215px
			img
				margin-right: 20px
	.the-card
		width: 375px
		height: 188px
		border-radius: 15px
		background: #c5d5e6
		color: #ffffff
		font-family: "Geometria-Medium"
		font-size: 14px
		font-weight: 400
		padding: 20px 25px
		.card-top
			margin-bottom: 30px;
		.card-top-inputs
			display: flex
			justify-content: space-between
			input
				appearance: none
				width: 73px
				height: 40px
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button
				-webkit-appearance: none
				margin: 0
		.card-bottom
			display: flex
			justify-content: space-between
			.card-date
				width: 130px
			.CVC
				width: 130px
			input
				height: 40px
				width: 130px
				
	.hand 
		background: #ffffff
		display: flex
		align-items: center
	.img-item
		display: flex
		align-items: center
		justify-content: center
		border: 2px solid #c5d5e6
		border-radius: 15px
		min-width: 80px
		min-height: 80px
		margin-right: 20px
	/* активна іконка id="path-hand" */
	.icon-color 
		fill: white

	/* активний фон id= imd-hand*/
	.icon-bg-active 
		background: #9c5d9a
		border: 2px solid #9c5d9a

	.cta__modal-arrow
		display: flex
		justify-content: space-between
		width: 1140px
		border: 1px solid #C5D5E6
		border-radius: 15px
		margin: 0 auto
		padding: 18px 20px 0 20px
		.pay-type
			img
				margin: 0 20px 20px 0
	.pay-titles
		color: #939aa3
		font-family: "Geometria-Medium"
		font-size: 14px
		font-weight: 400
		margin-bottom: 4px
	.modal-arrow-wrapper
		position: relative
	.arrow-block-1
		border-left: 1px solid #C5D5E6
		border-radius: 5px 0 0 0
		background: #ffffff
		position: absolute
		left: 642px
		top: -9px
		width: 20px
		height: 20px
		transform: rotate(45deg)
	.arrow-block-2
		border-right: 1px solid #C5D5E6
		border-radius: 0 5px 0 0
		position: absolute
		left: 642px
		top: -9px
		width: 20px
		height: 20px
		transform: rotate(-45deg)
	#arrow-hand
		display: none
	.arrow-hand-1
		border-left: 1px solid #C5D5E6
		border-radius: 5px 0 0 0
		background: #ffffff
		position: absolute
		left: 365px
		top: -9px
		width: 20px
		height: 20px
		transform: rotate(45deg)
	.arrow-hand-2
		border-right: 1px solid #C5D5E6
		border-radius: 0 5px 0 0
		position: absolute
		left: 365px
		top: -9px
		width: 20px
		height: 20px
		transform: rotate(-45deg)
	#arrow-clothes
		display: none
	.arrow-clothes-1
		border-left: 1px solid #C5D5E6
		border-radius: 5px 0 0 0
		background: #ffffff
		position: absolute
		left: 964px
		top: -9px
		width: 20px
		height: 20px
		transform: rotate(45deg)
	.arrow-clothes-2
		border-right: 1px solid #C5D5E6
		border-radius: 0 5px 0 0
		position: absolute
		left: 964px
		top: -9px
		width: 20px
		height: 20px
		transform: rotate(-45deg)		
	#arrow-heart
		display: none
	.arrow-heart-1
		border-left: 1px solid #C5D5E6
		border-radius: 5px 0 0 0
		background: #ffffff
		position: absolute
		left: 1290px
		top: -9px
		width: 20px
		height: 20px
		transform: rotate(45deg)
	.arrow-heart-2
		border-right: 1px solid #C5D5E6
		border-radius: 0 5px 0 0
		position: absolute
		left: 1290px
		top: -9px
		width: 20px
		height: 20px
		transform: rotate(-45deg)
	.to-help-wrapper
		margin-top: 51px
		display: flex
		justify-content: center
		button.to-help
			padding: 18px 105px
			color: #ffffff
			font-family: "Geometria-Medium"
			font-size: 18px
			font-weight: 400
			border-radius: 10px
			border: none
			background: linear-gradient(47deg, #E53656, #6082D8)
			box-shadow: 0px 0px 15px 5px rgba(229,54,86,0.4)


// /call-to-action
// /help right now
.add-project-wrapper
	display: flex
	font-family: "Geometria-Medium"
	color: #c5d5e6
	padding-top: 33px
	/* /content */
	/*proj-content*/
.proj-content-wrapper
	animation: fadeEffect .6s

.proj-content
	transition: 1s
.proj-titles
	display: flex
	justify-content: space-between
	max-width: 80%
	margin-left: -75px
	margin-top: 50px
	margin-bottom: 67px
.proj-title
	opacity: 0.15
	color: #ffffff
	font-family: "Geometria-Medium"
	font-size: 64px
	font-weight: 400
.proj-title-active
	display: flex
	align-items: center
	opacity: 1
	position: relative
	.article-counter
		color: #e63554
		font-family: "Gilroy-ExtraBold"
		font-size: 18px
		font-weight: 400
		position: absolute
		left: 200px
	.article-counter-urgent
		color: #8492f3
		font-family: "Gilroy-ExtraBold"
		font-size: 18px
		font-weight: 400
		position: absolute
		left: 200px


.proj-help-types
	display: flex
	align-items: center
	position: absolute
	top: 186px
	right: 85px
	color: #c5d5e6
	font-family: "Geometria-Medium"
	font-size: 14px
	font-weight: 400
	.arrow-down
		margin-left: 20px
.proj-articles
	display: flex
	flex-direction: column
	justify-content: space-between
	margin-left: 150px
	.article
		display: flex
		flex-wrap: wrap
		width: calc(100% - 50px)
		border-bottom: 1px solid rgba(216,216,216,.5)
		&-cover
			position: relative
			overflow: hidden
			justify-content: center
			align-items: center
			width: 400px
			max-height: 100px
			background: rgba(216,216,216,0.5)
			&-mask
				position: absolute
				width: 100%
				height: 100%
				background: black
				opacity: .5
			&-mask:hover
				opacity: 0			
		&-content
			display: flex
			flex-direction: column
			flex-wrap: wrap
			color: #ffffff
			max-width: 600px
			height: 100%
			font-family: "Gilroy-Light"
			font-size: 14px
			font-weight: 400
			line-height: 19px
			padding-left: 51px
			padding-bottom: 9px
			.article-text
				flex-grow: 1
		&-date
			color: #c5d5e6
			font-family: "Gilroy-Light"
			font-size: 12px
			font-weight: 400
			padding-top: 10px
			padding-bottom: 16px
		&-title
			color: #ffffff
			font-family: "Geometria-Medium"
			font-size: 18px
			font-weight: 400
		&-text 
			color: #ffffff
			font-family: "Gilroy-Light"
			font-size: 14px
			font-weight: 400
			line-height: 19px
		&-raised
			opacity: .5
			color: #b4c4d8
			font-family: "Gilroy-Light"
			font-size: 18px
			font-weight: 400
		&-helped
			opacity: 0.5
			color: #b4c4d8
			font-family: "Gilroy-Light"
			font-size: 14px
			font-weight: 400
	.article-active
		height: 200px
		overflow: visible
		opacity: 1
.article-icons
	display: flex
	flex-direction: column
	justify-content: space-around
	height: 100%
	flex-grow: 1
	align-items: flex-end
.article-icons-urgent 
	display: flex
	flex-direction: column
	justify-content: flex-end
	height: 100%
	flex-grow: 1
	align-items: flex-end
	img
		padding: 10px 0
	/* /proj-content */
	/* contacts-content */
.contacts-content
	position: absolute
	width: calc(100% - 60px)
	height: calc(100% - 135px)
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	.phone-number
		padding-bottom: 13px
		color: #ffffff;
		font-family: "Geometria-Medium"
		font-size: 64px
		font-weight: 400
	.email
		padding-bottom: 87px
		color: #ffffff
		font-family: "Geometria-Medium"
		font-size: 64px
		font-weight: 400
	.send-form__title
		padding-bottom: 16px
		color: #ffffff
		font-family: "Gilroy-Light"
		font-size: 18px
		font-weight: 400
	.send-form__inputs
		display: flex
		justify-content: space-around
		input
			outline: none
			background: rgba(197, 213, 230,.2) 
			border: none
			border-radius: 5px
			color: #ffffff
			font-family: "Geometria-Medium"
			font-size: 14px
			font-weight: 400
			min-width: 200px
			min-height: 40px
			padding: 0 10px
		input::placeholder
			color: #ffffff
			font-family: "Geometria-Medium"
			font-size: 14px
			font-weight: 400
.contacts-social
	position: absolute
	bottom: 30px
	left: calc(50% - 60px)
		
	/* /contacts-content */

	/* bottom-content */
.social-wrapper
	display: flex
	align-items: center
	padding-top: 139px
	z-index: 99
	.social-ico
		margin-left: 20px
	.social-ico:hover
		opacity: .5
		transition: .2s
		cursor: pointer
.chat
	border-radius: 50%
	width: 60px
	height: 60px
	background: #9d5e9b
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2)
	box-shadow: 0px 2px 16px #9d5e9b
	position: absolute
	right: 80px
	bottom: 30px
	z-index: 2
	display: flex
	align-items: center
	justify-content: center
	padding-top: 7px
.chat-urgent
	background: #8492f3;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 16px #8492f3;
	

.triangle-bottomright-wrap
	flex: 0 0 auto
	display: flex
	align-items: flex-end
	justify-content: flex-end
	.heart
		z-index: 2
		position: absolute
		right: 117px
		bottom: 140px
		transform: rotate(4deg)

	/* /bottom-content */
	/*media*/
@media screen and (max-width: 1400px)
	.header
		flex-direction: column
		&__logo
			padding-bottom: 20px
		&__lang
			padding-bottom: 20px
		&__menu
			width: 100%
			padding-bottom: 20px
		&__search
		ul
			width: 100%
	.social-wrapper
		padding-top: 80px
		color: #c5d5e6
		font-family: "Geometria-ExtraBold"
		font-size: 14px
		font-weight: 400
	#triangle-bottomright
		display: none
	.proj-titles
		max-width: 90%
	.proj-help-types
		top: 325px
	.types-help__item-wrap
		min-width: 50%
		padding-bottom: 50px
	
@media screen and (max-width: 1100px)
	.header
		flex-direction: column
		&__logo
			padding-bottom: 20px
		&__lang
			padding-bottom: 20px
		&__menu
			width: 100%
			padding-bottom: 20px
		&__search
			margin-left: 0
		ul
			width: 100%
	.social-wrapper
		padding-top: 80px
		color: #c5d5e6
		font-family: "Geometria-ExtraBold"
		font-size: 14px
		font-weight: 400
	#triangle-bottomright
		display: none
	.proj-titles

		max-width: 90%
	.proj-title 
		font-size: 32px
	.proj-help-types
		top: 325px
@media screen and (max-width: 810px)
	.header
		flex-direction: column
		&__logo
			padding-bottom: 20px
		&__lang
			padding-bottom: 20px
		&__menu
			width: 100%
			padding-bottom: 20px
		&__search
			margin-left: 0
		ul
			width: 100%
	.social-wrapper
		padding-top: 80px
		color: #c5d5e6
		font-family: "Geometria-ExtraBold"
		font-size: 14px
		font-weight: 400
	#triangle-bottomright
		display: none
	.proj-titles

		max-width: 90%
	.proj-title 
		font-size: 32px
	.proj-help-types
		top: 325px
	.search-popup
@media screen and (max-width: 685px)
	.header
		flex-direction: column
		&__logo
			padding-bottom: 20px
		&__lang
			padding-bottom: 20px
		&__menu
			width: 100%
			padding-bottom: 20px
		ul
			flex-wrap: wrap
			width: 100%
	.proj-title 
		font-size: 26px
	.proj-help-types
		top: 375px
@media screen and (max-width: 685px)
	.header
		flex-direction: column
		&__logo
			padding-bottom: 20px
		&__lang
			padding-bottom: 20px
		&__menu
			width: 100%
			padding-bottom: 20px
		ul
			flex-wrap: wrap
			width: 100%
			li
				display: flex
				justify-content: center
				width: 50%
			li+li 
				margin: 0
	.social-wrapper
		padding-bottom: 1rem
	.header__search
		margin-top: 15px
	.btn-help-now
		margin-top: 20px
	.content__to-help__now
		width: 100%
@media screen and (max-width: 446px)
	.header
		flex-direction: column
		&__logo
			padding-bottom: 20px
		&__lang
			padding-bottom: 20px
		&__menu
			width: 100%
			padding-bottom: 20px
		ul
			flex-wrap: wrap
			width: 100%
			li
				display: flex
				justify-content: center
				width: 100%
			li+li 
				margin: 0
	.header__search
		margin-top: 15px
	.social-wrapper
		padding-bottom: 1rem
	.proj-title 
		font-size: 20px
	.proj-help-types
		top: 425px
		font-size: 10px
@media screen and (min-width: 1400px)
	.clip-path
		// clip-path: polygon(0 100%, 0 0, 100% 0, 100% 25%, 25% 100%)
		background: linear-gradient(155deg,#363B5D, #3B5381, #4174B3 61%, #FFFFFF 20%);
	.header__lang
		position: absolute
		left: 200px		
	.header__search
		position: absolute
		top: 0px
		right: 370px
	/* /media */

@keyframes fadeEffect
	from
		opacity: 0
	to
		opacity: 1
@keyframes animatetop
	from
		top: -1000px
		opacity: 0
	to
		top: 0
		opacity: 1
.show
	display: block

